:root{
  --yellow:#f5c32c;
  --orange:#fca61f;
  --black:#242d49;
  --grey:#788097;
  --bluecard:#ddf8fe;
  --purple:rgb(238 210 255);
  --boxshadow:0px 19px 60px rgb(0 0 0 / 8%);
  --orangecard:rgba(252,166,31,0.45);
  --smboxshadow:-79px 51px 60px rgba(0 ,0 ,0 ,0.08);
  --fonts:'"Raleway", sans-serif';
}
.app{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}
body ,p{
  font-size: 16px;
  font-family: var(--fonts);
}
a{
  text-decoration: none;
  display: inline;
}
img{
  width: 100%;
}
.button{
  display: inline-block;
  border-radius: 34px;
  border: 1px solid transparent;
  color: white;
  font-size: 16px;
  padding: 9px 31px 9px 30px;
  background:linear-gradient(180deg , #fdc50f 26.71% , #fb982f 99.36%) ;
  box-shadow: 0px 20px 24px 3px rgba(251 , 161 , 40 ,0.42);
}

.button:hover {
  background: white;
  border: 1px solid var(--orange);
  color: var(--black);
  box-shadow: none;
  transition: 0.5s all;
}
.h2-title ,.h2-title span {
  font-size: 50px;
  font-weight: bold;
}

.h2-title span {
  display: block;
  color: var(--orange);
}
